
<div class="body main-fixed col-md-10 col-md-offset-1">
  <div class="container col-md-12 col-md-offset-0 margin-top">
    <div class="panel panel-default">

      <!-- Page title -->
      <div class="panel-heading">
        <h1 class="panel-title">Edit Profile Picture</h1>
      </div>

      <!-- Form body -->
      <div class="panel-body">
        <div class="row text-center" [ngClass]="{'ng-cloak': currentStage !== UploadStage.SelectFile}">
          <label class="btn btn-default btn-file">
            Select File <input type="file" style="display: none;"  ng-model="input"
              (change)="loadImage($event)" accept=".png,.jpg,.jpeg,.gif">
          </label>
        </div>
        <div class="row text-center" [ngClass]="{'ng-cloak': currentStage !== UploadStage.DrawSelection}">
          <h4>Drag inside the circle to move it, or outside to resize it.</h4>
        </div>
        <div class="row text-center" [ngClass]="{'ng-cloak': currentStage !== UploadStage.DrawSelection}">
          <canvas #imageSelectionCanvas width="0" height="0">
            Your browser does not support the HTML5 canvas tag.
          </canvas>
        </div>
        <div class="row text-center" [ngClass]="{'ng-cloak': currentStage !== UploadStage.DrawSelection}">
          <div class="col-md-4 col-md-offset-1">
            <button class="btn btn-default" (click)="returnToFileSelect()">Choose Another File</button>
          </div>
          <div class="col-md-4 col-md-offset-2">
            <button class="btn btn-info" (click)="clipSelection()">Choose Selection</button>
          </div>
        </div>
        <div class="row text-center" [ngClass]="{'ng-cloak': currentStage !== UploadStage.ConfirmSelection}">
          <img #confirmSelectionImg class="profile-picture">
        </div>
        <div class="row text-center" [ngClass]="{'ng-cloak': currentStage !== UploadStage.ConfirmSelection}">
          <div class="col-md-4 col-md-offset-1">
            <button class="btn btn-default" (click)="returnToSelectRegion()">Go Back</button>
          </div>
          <div class="col-md-4 col-md-offset-2">
            <button class="btn btn-info" (click)="confirmSelection()">Confirm</button>
          </div>
        </div>
        <div class="row text-center" [ngClass]="{'ng-cloak': currentStage !== UploadStage.Finished}">
          <h5>Profile picture uploaded. Refresh to view changes.</h5>
        </div>
      </div>
    </div>
  </div>
</div>
