<div>
  <div class="row">
    <h1 class="col-md-10">Competitions</h1>
    <button type="button" class="btn btn-default col-md-2 margin-top"
            ng-click="createCompetition()" ng-show="isAdmin === 1">
      Create competition
    </button>
  </div>
  <div ng-show="competitions.ongoing.length > 0">
    <h2>Ongoing</h2>
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Remaining</th>
        <th>Length</th>
        <th>Start Time</th>
        <th ng-if="loggedIn">Register</th>
      </tr>
      <tr ng-repeat="competition in competitions.ongoing | orderBy: 'startTime'">
        <td><a href="/#/competitions/{{ competition.cid }}">{{ competition.name }}</a></td>
        <td>{{ getRemainingTime(competition) | secondsToDateTime | date:"h:mm:ss" }}</td>
        <td>{{ competition.length | secondsToHours | date:"h:mm:ss" }}</td>
        <td>{{ competition.startTime | secondsToDateTime | date:"medium" }}</td>
        <td ng-if="loggedIn">
          <div ng-if="competition.registered">Registered</div>
          <a ng-if="!competition.registered && (isAdmin || !competition.closed)"
              href="" ng-click="register(competition)">Register</a>
          <div ng-if="!competition.registered && !isAdmin && competition.closed">Closed</div>
        </td>
      </tr>
    </table>
  </div>
  <div ng-show="competitions.upcoming.length > 0">
    <h2>Upcoming</h2>
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Length</th>
        <th>Start Time</th>
        <th ng-if="loggedIn">Register</th>
      </tr>
      <tr ng-repeat="competition in competitions.upcoming | orderBy: 'startTime'">
        <td><a href="/#/competitions/{{ competition.cid }}">{{ competition.name }}</a></td>
        <td>{{ competition.length | secondsToHours | date:"h:mm:ss" }}</td>
        <td>{{ competition.startTime | secondsToDateTime | date:"medium" }}</td>
        <td ng-if="loggedIn">
          <div ng-if="competition.registered">Registered</div>
          <a ng-if="!competition.registered && (isAdmin || !competition.closed)"
              href="" ng-click="register(competition)">Register</a>
          <div ng-if="!competition.registered && !isAdmin && competition.closed">Closed</div>
        </td>
      </tr>
    </table>
  </div>
  <div ng-show="competitions.past.length > 0">
    <h2>Past</h2>
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Length</th>
        <th>Start Time</th>
      </tr>
      <tr ng-repeat="competition in competitions.past | orderBy: '-startTime'">
        <td><a href="/#/competitions/{{ competition.cid }}">{{ competition.name }}</a></td>
        <td>{{ competition.length | secondsToHours | date:"h:mm:ss" }}</td>
        <td>{{ competition.startTime | secondsToDateTime | date:"medium" }}</td>
      </tr>
    </table>
  </div>
</div>
