<div class='main-fixed'>
  <div class='title'>
    Ongoing
  </div>
  <div class='body'>
    <table>
      <tr>
        <th>Name</th>
        <th>Remaining</th>
        <th>Length</th>
        <th>Start Time</th>
      </tr>
      <tr ng-repeat="competition in competitions.ongoing">
        <td><a href='/#/competitions/{{ competition.cid }}'>{{ competition.name }}</a></td>
        <td>{{ competition.name }}</td>
        <td>{{ competition.length | secondsToDateTime | date:'HH:mm:ss' }}</td>
        <td>{{ competition.startTime | date:'medium' }}</td>
      </tr>
    </table>
  </div>
  <div class='title'>
    Upcoming
  </div>
  <div class='body'>
    <table>
      <tr>
        <th>Name</th>
        <th>Remaining</th>
        <th>Length</th>
        <th>Start Time</th>
      </tr>
      <tr ng-repeat="competition in competitions.upcoming">
        <td><a href='/#/competitions/{{ competition.cid }}'>{{ competition.name }}</a></td>
        <td>{{ competition.name }}</td>
        <td>{{ competition.length | secondsToDateTime | date:'HH:mm:ss' }}</td>
        <td>{{ competition.startTime | date:'medium' }}</td>
      </tr>
    </table>
  </div>
  <div class='title'>
    Past
  </div>
  <div class='body'>
    <table>
      <tr>
        <th>Name</th>
        <th>Remaining</th>
        <th>Length</th>
        <th>Start Time</th>
      </tr>
      <tr ng-repeat="competition in competitions.past">
        <td><a href='/#/competitions/{{ competition.cid }}'>{{ competition.name }}</a></td>
        <td>{{ competition.name }}</td>
        <td>{{ competition.length | secondsToDateTime | date:'HH:mm:ss' }}</td>
        <td>{{ competition.startTime | date:'medium' }}</td>
      </tr>
    </table>
  </div>
</div>
