<div class="col-md-8 col-md-offset-2">
  <h1>Edit "{{ current_prob.name }}"</h1>
  <div class="panel panel-default">
    <div class="panel-body">
      <form>
        <!-- Title -->
        <div class="form-group">
          <label for="problemTitle">Problem Title</label>
          <input type="text" class="form-control" id="problemTitle"
            placeholder="A Super Easy Problem"
            ng-model="current_prob.name">
        </div>

        <!-- Description -->
        <div class="form-group">
          <label for="problemDescription">Problem Description</label>
          <textarea class="form-control" id="problemDescription" rows="6"
            ng-model="current_prob.description"
            placeholder="Some ridiculous plot..."></textarea>
        </div>

        <!-- Input Description -->
        <div class="form-group">
          <label for="inputDescription">Input Description</label>
          <textarea class="form-control"
            id="inputDescription" placeholder="n can be between -4 and 10,000"
            ng-model="current_prob.input_desc"></textarea>
        </div>

        <!-- Output Description -->
        <div class="form-group">
          <label  for="outputDescription">Output Description</label>
          <textarea class="form-control"
            id="outputDescription" placeholder="Answer should be to 42 decimal places"
            ng-model="current_prob.output_desc"></textarea>
        </div>

        <!-- Sample Input/Output -->
        <div class="form-group" ng-repeat="case in current_prob.sample_cases">
          <label>Sample Case {{ $index+1 }}</label>
          <div class="form-inline">
            <textarea class="form-control"
              placeholder="Sample input"
              ng-model="case.input"
              style="width:40%;"></textarea>
            <textarea class="form-control"
              placeholder="Sample output"
              ng-model="case.output"
              style="width:40%; margin-left: 10%"></textarea>
          </div>
        </div>
        <input type="button" class="btn btn-info"
          ng-click="addCase()" value="Add Test Case" style="margin-bottom: 25px">
        <input type="button" class="btn btn-default pull-right"
          ng-click="deleteCase()" value="Delete" ng-if="!oneCase">

        <!-- Judge Input/Output -->
        <div class="form-group">
          <div class="form-inline">
            <label for="inputUpload">Judge Input</label>
            <input type="file" file-model="inFile" accept=".zip">
            <p class="help-block">All files should be in an 'in' directory and zipped</p>
          </div>
        </div>
        <div class="form-group">
          <div class="form-inline">
            <label for="outputUpload">Judge Output</label>
            <input type="file" file-model="outFile" accept=".zip">
            <p class="help-block">All files should be in an 'out' directory and zipped</p>
          </div>
        </div>

        <!-- Judge Solution -->
        <div class="form-group">
          <label for="judgeSolution">Judge Solution</label>
          <input type="file" file-model="solModel" accept=".c,.cpp,.java.py">
        </div>

        <!-- Appeared In -->
        <div class="form-group">
          <label for="appearedIn">Original Competition</label>
          <input type="text" class="form-control"
            placeholder="2014 Mid-Central" ng-model="current_prob.appeared">
        </div>

        <!-- Difficulty -->
        <div class="form-group">
          <label for="difficulty">Difficulty</label>
          <input type="text" class="form-control" placeholder="0-100"
            ng-model="current_prob.difficulty">
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary"
          ng-click="save()">Save Changes</button>

      </form>
    </div>
  </div>
</div>
