<div class="margin-top panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <h1 class="panel-title col-md-10">{{ title }}</h1>
      <div class="col-md-2 no-pad">
        <button type="button" class="btn btn-success pull-right col-md-10"
                ng-click="createCompetition()" ng-show="isAdmin === 1">
          Save
        </button>
      </div>
    </div>
  </div>

  <h3 class="col-md-12">Metadata</h3>

  <div class="panel-body col-md-12">

    <form name="createCompetitionForm" class="form-horizontal well">

      <div class="form-group">
        <label for="compName" class="col-sm-2 control-label">Competition Name</label>
        <div class="col-sm-4 input-group">
          <input class="form-control" id="compName" placeholder="My Competition" ng-model="compName">
        </div>
      </div>

      <div class="form-group">
        <label for="startTime" class="col-sm-2 control-label">Start Time</label>
        <div class="col-sm-4 input-group">
          <input class="form-control" id="startTime" name="startTime"
              placeholder="MM-DD-YYYY HH:mm" ng-model="startTime"
              ng-init="startTime = defaultStartTime()" date-format-validator>
          <div class="input-group-addon">24h CDT</div>
        </div>
        <div ng-if="!createCompetitionForm.startTime.$pristine" ng-messages="createCompetitionForm.startTime.$error">
          <div class="label label-danger" ng-message="format">Incorrect format</div>
          <div class="label label-danger" ng-message="tooEarly">Date has passed</div>
        </div>
      </div>

      <div class="form-group">
        <label for="compLength" class="col-sm-2 control-label">Competition Length</label>
        <div class="col-sm-4 input-group">
          <input class="form-control" id="compLength" name="compLength"
              placeholder="h:mm" ng-model="compLength"
              ng-init="compLength = '3:00'" contest-length-validator>
          <div class="input-group-addon">h:mm</div>
        </div>
        <div ng-if="!createCompetitionForm.compLength.$pristine" ng-messages="createCompetitionForm.compLength.$error">
          <div class="label label-danger" ng-message="format">Incorrect format</div>
          <div class="label label-danger" ng-message="length">Competition too short</div>
        </div>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" value="" ng-model="competitionClosed">
          Closed competition (Only admins can register users)
        </label>
      </div>
    </form>
  </div>

  <h3 class="col-md-12">Problems</h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-sm-4">Label</th>
        <th class="col-sm-4">Name</th>
        <th class="col-sm-4"></th> <!-- This is reserved for the add/remove button -->
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="problem in compProblems">
        <td ng-model="problem.label"><b>{{ $index | indexToCharCode }}</b></td>
        <td>{{ problem.name }}</td>
        <td>
          <button type="submit" class="btn btn-danger" ng-click="removeProblem(problem)">Remove</button>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <select id="pidSelector" class="form-control"
              ng-options="prob as prob.name for prob in problems" ng-model="selected">
          </select>
        </td>
        <td>
          <button type="submit" class="btn btn-success" ng-click="addProblem(selected)"
              ng-disabled="!selected || compProblems.indexOf(selected) >= 0">
            Add
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
