<div class='main-fixed' ng-controller="JudgeController">
  <div class='title'>
    Submit File
  </div>
  <div class="body">
    <select ng-options="problem.pid as problem.name for problem in problems" ng-model="pid"></select>
    <input type="file" accept=".java,.py,.c,.cpp,.c++,.go" file-model="file"/>
    <input type="submit" ng-click="submit()" class="margin-20 float-r">
    <table ng-show="submitted.length" class="center">
      <tr>
        <th>Problem Name</th>
        <th>Submitted File</th>
        <th>Status</th>
      </tr>
      <tr ng-repeat="submission in submitted" 
          ng-class="{ good: submission.status=='correct', wrong: submission.status=='incorrect' }">
        <td>{{ submission.problem }}</td>
        <td>{{ submission.fileName }}</td>
        <td>{{ submission.status }}</td>
      </tr>
    </table>
  </div>
</div>
