<div class="main-fixed" ng-controller="ProblemsController">
  <div class="row">
    <h1 class="pull-left">Problems</h1>
    <button type="button" class="btn btn-default pull-right margin-top"
            ng-click="createProblem()" ng-show="isAdmin === 1">
      Create Problem
    </button>
  </div>
  <div class="body">
    <table class="table table-striped">
      <tr>
        <th><a href="" ng-click="order('name')" id="problem_name">Name</a></th>
        <th><a href="" ng-click="order('appeared')" id="appeared">Appeared In</a></th>
        <th><a href="" ng-click="order('solvedBy')" id="solved">Solved By</a></th>
        <th><a href="" ng-click="integerOrder('difficulty')" id="difficulty">Difficulty</a></th>
        <th ng-if="loggedIn">Judge</th>
      </tr>
      <tr ng-class="{'success': problem.solved}" ng-repeat="problem in problems">
        <td><a href="/#/problems/{{ problem.shortname }}">{{ problem.name }}</a></td>
        <td>{{ problem.appeared }}</td>
        <td>{{ problem.solvedBy | number }}</td>
        <td>{{ problem.difficulty | number }}</td>
        <td ng-if="loggedIn"><a href="/#/judge?problem={{ problem.pid }}">Submit</td>
      </tr>
    </table>
  </div>
</div>
