<div class="body margin-top">

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-4 pull-left">
          <h1 class="panel-title pull-left">{{ competition.name }}</h1>
          <div ng-if="isAdmin && !ended" class="col-md-4" uib-dropdown>
            <a class="muted-link" type="button" href=""
                id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true" uib-dropdown-toggle>
              Manage
              <span class="caret"></span>
            </a>
            <ul aria-labelledby="dropdownMenu1" uib-dropdown-menu>
              <li><a href="/#/competitions/{{ cid }}/edit">Edit</a></li>
              <li><a href="/#/competitions/{{ cid }}/teams">Teams</a></li>
            </ul>
          </div>
        </div>
        <!-- Countdown to competition start -->
        <div class="col-md-4 row ng-cloak" ng-show="timeUntil > 0">
          <div class="text-center">
            <h3 class="panel-title">Time Until Start: {{ timeUntil | secondsToHours | date:"H:mm:ss" }}</h3>
          </div>
        </div>
        <h2 class="panel-title col-md-4 pull-right text-right"
            ng-show="active || !ended">
            {{ timeLeft | secondsToHours | date:"H:mm:ss" }}
        </h2>
      </div>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Team</th>
          <th>Solved</th>
          <th>Time</th>
          <th ng-if="active || ended" ng-repeat="name in problemNames">
            <a href="/#/problems/{{ compProblems[name].shortname }}">{{ name }}</a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="team in teams | orderBy:['-solved', 'time']">
          <td>{{ team.rank }}</td>
          <td>{{ team.name }}</td>
          <td>{{ team.solved }}</td>
          <td>{{ team.time }}</td>
          <td ng-if="active || ended" ng-repeat="name in problemNames"
              ng-class="{'success': team.problemData[compProblems[name].pid].status === 'correct',
                      'danger': team.problemData[compProblems[name].pid].status === 'incorrect',
                       'info': team.problemData[compProblems[name].pid].status === 'running'}">
              <div ng-hide="team.problemData[compProblems[name].pid].status === 'unattempted'">
                {{ team.problemData[compProblems[name].pid].submitCount }}
                <br>
                <small>
                  {{team.problemData[compProblems[name].pid].status == 'incorrect'
                      || team.problemData[compProblems[name].pid].status == 'running' | iif : '--' :
                      team.problemData[compProblems[name].pid].submitTime
                  }} {{team.problemData[compProblems[name].pid].penaltyTime > 0 | iif : ' (+' +
                           team.problemData[compProblems[name].pid].penaltyTime + ')' : '' }}
                </small>
              </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
