<div>
  <div class="row">
    <h1 class="pull-left">{{ competition.name }}</h1>
    <h2 class="pull-right">{{ timeLeft | secondsToDateTime | date:"H:mm:ss" }}</h2>
  </div>
  <div class="body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Team</th>
          <th>Solved</th>
          <th>Time</th>
          <th ng-repeat="problem in compProblems">{{ problem }}</th>
        </tr>
      </thead>
      <tr ng-repeat="team in teams | orderBy:['-solved', 'time']">
        <td>{{ team.rank }}</td>
        <td>{{ team.name }}</td>
        <td>{{ team.solved }}</td>
        <td>{{ team.time }}</td>
        <td ng-repeat="(problem, problemData) in team.problemData" 
            ng-class="{'success': problemData.status=='correct', 'danger': problemData.status=='incorrect'}">
            <div ng-hide="problemData.status=='unattempted'">
              {{ problemData.submitCount }}
            <br>
            <small>
              {{ problemData.status == "incorrect" | iif : "--" : problemData.problemTime }}</small>
            </div>
        </td>
      </tr>
    </table>
  </div>
</div>
