<div>
  <div class="row">
    <h1 class="pull-left">{{ competition.name }}</h1>
    <h2 class="pull-right" ng-show="active">{{ timeLeft | secondsToDateTime | date:"H:mm:ss" }}</h2>
  </div>
  <div class="body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Team</th>
          <th>Solved</th>
          <th>Time</th>
          <th ng-repeat="name in problemNames"><a href="/#/problems/{{ compProblems[name].shortname }}">{{ name }}</a></th>
        </tr>
      </thead>
      <tr ng-repeat="team in teams | orderBy:['-solved', 'time']">
        <td>{{ team.rank }}</td>
        <td>{{ team.name }}</td>
        <td>{{ team.solved }}</td>
        <td>{{ team.time }}</td>
        <td ng-repeat="name in problemNames"
            ng-class="{'success': team.problemData[name].status=='correct',
                    'danger': team.problemData[name].status=='incorrect'}">
            <div ng-hide="team.problemData[name].status=='unattempted'">
              {{ team.problemData[name].submitCount }}
            <br>
            <small>
              {{ team.problemData[name].status == "incorrect" | iif : "--" :
              team.problemData[name].problemTime }}</small>
            </div>
        </td>
      </tr>
    </table>
  </div>
</div>
