<h1>Account Settings</h1>
<div class="panel panel-default">
  <div class="panel-body">
    <form>
      <div class="form-group">
        <label for="oldPassword" class="control-label">Old password</label>
        <input class="form-control" id="oldPassword" type="password" placeholder="Old password" ng-model="oldPassword">
      </div>

      <div class="form-group">
        <label for="newPassword" class="control-label">New password</label>
        <input class="form-control" id="newPassword" type="password" placeholder="New password" ng-model="newPassword">
      </div>

      <div class="form-group">
        <label for="confirmPassword" class="control-label">Confirm password</label>
        <input class="form-control" id="confirmPassword" type="password" placeholder="Confirm password" ng-model="confirmPassword">
      </div>
      
      <button class="btn btn-default" type="submit" ng-click="changePassword()">
        Change Password
      </button>
    </form>
  </div>
</div>

<!-- Additional settings for admins only -->
<div ng-if="isAdmin">
  <h1>Additional Settings</h1>

  <div class="panel panel-default">
    <div class="panel-heading"><h2>Create New User</h2></div>
    <div class="panel-body">
      <form>
        <div class="form-group">
          <label for="newUserDislpayName" class="control-label">Display Name</label>
          <input class="form-control" id="newUserDisplayName" type="text" placeholder="William Hester" 
          ng-model="$parent.newUserDisplayName">
        </div>

        <div class="form-group">
          <label for="newUserName" class="control-label">Username</label>
          <input class="form-control" id="newUserName" type="text" placeholder="willdawg" ng-model="$parent.newUserName">
        </div>

        <div class="form-group">
          <label for="newUserPassword" class="control-label">Password</label>
          <input class="form-control" id="newUserPassword" type="password" placeholder="Password" ng-model="$parent.newUserPassword">
        </div>

        <div class="form-group">
          <label for="newUserPasswordConfirm" class="control-label">Confirm password</label>
          <input class="form-control" id="newUserPasswordConfirm" type="password" placeholder="Confirm Password" ng-model="$parent.newUserPasswordConfirm">
        </div>

        <button class="btn btn-default" type="submit" ng-click="createUser($scope)">
          Create User
        </button>
      </form>
    </div>
  </div>

</div>
