<div class="row">
  <h1 class="pull-left">Teams</h1>
  <button class="btn btn-success pull-right margin-top" ng-click="save()">Save</button>
</div>
<div class="row">
  <div class="col-md-9 gridded">
    <div class="col-md-6" ng-repeat="(name, members) in teams">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">{{ name }}
            <span class="glyphicon glyphicon-remove-circle pull-right"
                ng-click="removeTeam(name)"></span>
          </div>
        </div>
        <div class="panel-body" dnd-list="members">
          <div class="panel panel-default movable" ng-repeat="user in members"
              dnd-draggable="user"
              dnd-moved="members.splice($index, 1)"
              dnd-effect-allowed="move">
            <div class="panel-body">
              {{ user.display }}
            </div>
          </div>
          <div class="dndPlaceholder">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="col-md-8">
            <input class="form-control" placeholder="New Team"
                ng-model="newTeamName">
          </div>
          <button class="btn btn-default" ng-click="addTeam()"
              ng-disabled="teamExists()">Add</button>
        </div>
        <!-- <div class="panel-body">
        </div> -->
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">Individuals</div>
      </div>
      <div class="panel-body"
          dnd-list="individuals">
        <div class="panel panel-default movable" ng-repeat="user in individuals"
          dnd-draggable="user"
          dnd-effect-allowed="move"
          dnd-moved="individuals.splice($index, 1)">
          <div class="panel-body">
            {{ user.display }}
          </div>
        </div>
        <div class="dndPlaceholder">
        </div>
      </div>
    </div>
  </div>
</div>
