<div class="body">
  <div class="container col-md-10 col-md-offset-1" style="margin-top:2%" ng-show="current_prob">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <h1 class="panel-title col-md-10" style="font-size:32px;">{{ current_prob.name }}</h1>

            <!-- Show the button for submission if the user is not an admin -->
            <div class="col-md-2">
              <button ng-if="!isAdmin" class="btn btn-success"
                style="width:100%;">Submit</button>
            </div>

            <!-- Show dropdown for submission if the user is an admin -->
            <div ng-if="isAdmin" class="col-md-2">
              <button class="btn btn-default dropdown-toggle" style="width:100%;"
                  type="button" id="dropdownMenu1" data-toggle="dropdown"
                  aria-haspopup="true">
                Options
                <span class="caret"></span>
              </button>
              <ul ng-if="isAdmin" class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="/#/judge?problem={{ problem.pid }}">Submit</a></li>
                <li><a href="/#/problems/{{ pid }}/edit">Edit</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <!-- Problem Description -->
          <div>
            <p class="problemBody" markdown="current_prob.description"></p>
          </div>

          <!-- Input description -->
          <h2 class="underlineHeader">Input</h2>
          <p class="problemBody" markdown="current_prob.input_desc"></p>

          <!-- Output description -->
          <h2 class="underlineHeader" style="margin-top:30px">Output</h2>
          <p style="problemBody" markdown="current_prob.output_desc"></p>

          <!-- Sample Input || Sample Output -->
          <div ng-repeat="case in current_prob.sample_cases" class="clearfix">
            <h2 class="underlineHeader">Sample Case {{ $index+1 }}</h2>
            <div class="pull-left" style="width:48%;">
              <pre>{{ current_prob.sample_cases[$index].input }}</pre>
            </div>
            <div class="pull-right" style="width:48%">
              <pre>{{ current_prob.sample_cases[$index].output }}</pre>
            </div>
          </div>

        </div>
        <div class="panel-footer"
          ng-if="current_prob.appeared">From: {{ current_prob.appeared }}</div>
      </div>
    </div>
  </div>
</div>
