<div class="margin-top col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <h1 class="panel-title col-md-10">
          <a href="/problems/{{ current_prob.shortname }}/info.pdf"
              target="_blank">
            {{ current_prob.name }}
          </a>
          <span ng-if="isAdmin">– <a class="muted-link" href="/#/problems/{{ pid }}/edit">Edit</a></span>
        </h1>

        <!-- Show the button for submission if the user is not an admin -->
        <div class="col-md-2">
          <a href="/#/judge?problem={{ current_prob.pid }}">
            <button class="btn btn-success no-pad" style="width:100%;">Submit</button>
          </a>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <!-- Problem Description -->
      <div>
        <p class="problemBody" markdown="current_prob.description"></p>
      </div>

      <!-- Input description -->
      <h2 class="underlineHeader">Input</h2>
      <p class="problemBody" markdown="current_prob.input_desc"></p>

      <!-- Output description -->
      <h2 class="underlineHeader">Output</h2>
      <p class="problemBody" markdown="current_prob.output_desc"></p>

      <!-- Sample Input || Sample Output -->
      <div ng-repeat="case in current_prob.sample_cases" class="clearfix">
        <h2 class="underlineHeader">Sample Case {{ $index+1 }}</h2>
        <div class="pull-left" style="width:48%;">
          <pre>{{ current_prob.sample_cases[$index].input }}</pre>
        </div>
        <div class="pull-right" style="width:48%">
          <pre>{{ current_prob.sample_cases[$index].output }}</pre>
        </div>
      </div>

    </div>
    <div class="panel-footer"
      ng-if="current_prob.appeared">From: {{ current_prob.appeared }}</div>
  </div>
</div>
