**/*.pyc
.idea
.vscode/
node_modules/
.DS_Store
auacm/app/static/angular/dist/
auacm/app/static/angular/node_modules/
auacm/app/data/
setup/data/
setup/__MACOSX/
setup/acm_test.sql
setup/acm_bak.sql
*.iml
target/
src/main/resources/public/

# Angular dependencies
src/main/angular/.bin/
src/main/angular/src/assets/showdown.min.js
src/main/angular/node_modules
src/main/angular/dist
src/main/angular/tmp
src/main/app/static/assets/
src/main/app/static/favicon.ico
src/main/app/static/index.html
src/main/app/static/*.bundle.js
src/main/app/static/*.bundle.js.map
src/main/app/static/*.bundle.css
auacm/app/static/*.jpg
auacm/app/templates/index.html
.classpath
.project
.settings/
data/
src/main/angular/package-lock.json
docker/
src/main/java/com/auacm/api/proto/
