**/*.pyc
.idea
node_modules/
.DS_Store
auacm/app/static/angular/dist/
auacm/app/static/angular/node_modules/
auacm/app/data/
setup/data/
setup/__MACOSX/
auacm/app/static/angular/.bin/
auacm/app/static/angular/src/assets/showdown.min.js