<!-- Ranking page template -->
<div class="body col-md-10 col-md-offset-1">
  <div class="container col-md-12 col-md-offset-0 margin-top">
    <div class="panel panel-default">

      <!-- Page title -->
      <div class="panel-heading">
        <div class="row">
          <h1 class="panel-title col-md-8">Rankings</h1>

          <!-- Time frame selection -->
          <div class="col-md-4">
            <form class="form-inline">
              <div class="form-group pull-right">
                <label for="timeframe">Solved in last </label>
                <select id="timeframe" [(ngModel)]="timeFrame" name="timeFrame" (ngModelChange)="onTimeFrameChange()">
                  <option selected value="all">All</option>
                  <option value="day">Day</option>
                  <option value="week">Week</option>
                  <option value="month">Month</option>
                  <option value="year">Year</option>
                </select>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Ranking table -->
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class="col-md-2">Rank</th>
            <th class="col-md-6">Name</th>
            <th class="col-md-4">problems Solved</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of ranks; let i = index" class="ranking-row">
            <td>{{ (i + 1) }}</td>
            <td>
              <img [src]="'/api/profile/image/' + user.username" class="ranking-profile-picture">
              <a [routerLink]="['/profile/' + user.username]">{{ user.displayName }}</a>
            </td>
            <td>{{ user.solved }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
