<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="mainModule" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="mainModule" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="mainModule" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="mainModule" class="no-js"> <!--<![endif]-->
<head>
  <link rel="icon" href="favicon.ico" />
  <title>ACM Auburn</title>

  <!-- Bootstrap stuff -->
  <link rel="stylesheet" href="/static/components/bootstrap/dist/css/bootstrap.min.css">
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body ng-controller="MainController">
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle"  ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/#/" class="navbar-brand" id="logo">Auburn ACM</a>
      </div>
      <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
        <ul class="nav navbar-nav navbar-left">
          <li ng-class="{active: $route.current.activetab == 'blog'}"><a href="/#/">Blog</a></li>
          <li ng-class="{active: $route.current.activetab == 'problems'}"><a href="/#/problems">Problems</a></li>
          <li ng-class="{active: $route.current.activetab == 'judge'}"><a href="/#/judge">Judge</a></li>
          <li ng-class="{active: $route.current.activetab == 'competitions'}"><a href="/#/competitions">Competitions</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" ng-class="{ open : dd1 }" ng-init="dd1 = false" ng-click="dd1 = !dd1" iub-dropdown>
            <a href="" class="dropdown-toggle" uib-dropdown-toggle>
              {{ username }}<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" dropdown-menu>
              <li><a href="/#/settings">Settings</a></li>
              <li><a ng-click="signOut()" href="#">Sign out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="main" class="container">
      <div ng-view></div>
  </div>

  <!-- Have to use this `outdated` version of socket.io for now TODO(@brandonlmorris) -->
  <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>-->
  <script src="/static/components/temp_socket.io/socket.io.min.js"></script>

  <!-- Static dependences for offline development -->
  <script src="/static/components/angular/angular.js"></script>
  <script src="/static/components/angular-route/angular-route.js"></script>
  <script src="/static/components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="/static/components/angular-messages/angular-messages.js"></script>
  <script src="/static/components/showdown/dist/showdown.js"></script>
  <script src="/static/components/angular-ui-bootstrap-complete/ui-bootstrap-tpls.js"></script>

  <!-- CDN dependencies for production -->
  <!--
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-sanitize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-messages.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.3.0/showdown.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.2/ui-bootstrap-tpls.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
  -->

  <!-- Modules -->
  <script src="/static/js/modules/mainModule.js"></script>

  <!-- Controllers -->
  <script src="/static/js/controllers/MainController.js"></script>
  <script src="/static/js/controllers/BlogListController.js"></script>
  <script src="/static/js/controllers/CreateBlogPostController.js"></script>
  <script src="/static/js/controllers/BlogPostController.js"></script>
  <script src="/static/js/controllers/ProblemsController.js"></script>
  <script src="/static/js/controllers/JudgeController.js"></script>
  <script src="/static/js/controllers/CompetitionsController.js"></script>
  <script src="/static/js/controllers/ScoreboardController.js"></script>
  <script src="/static/js/controllers/SettingsController.js"></script>
  <script src="/static/js/controllers/ViewProblemController.js"></script>
  <script src="/static/js/controllers/EditProblemController.js"></script>

</body>
