body {
    margin-top : 50px;
}

.margin-top {
    margin-top : 25px;
}

.margin-left {
    margin-left: 10px;
    text-decoration: none;
}

.muted-link {
    color: #767676;
}

.grid-padding {
    margin: 10px;
}

.gridded {
    display: block;
}

.movable {
    cursor: move;
}

/* appears below where the new element is hovering */
.dndPlaceholder {
    background: #FFF;
    min-height: 60px;
}

/* used to hide the element that is currently being dragged */
.dndDraggingSource {
    display: none;
}

.problemBody {
    font-size: 16px;
}

.markdown-body {

}

/* used to shift team member's names over on the scoreboard */
.pad-team-member-name {
    padding-left: 15%;
}

.underlineHeader {
    padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
}

.login-dropdown {
    padding: 10px;
    width: 280px;
}

.ng-cloak {
    display: none !important;
}

.failed-login {
    font-size: 14px;
    font-weight: 700;
    color: #d9534f;
}

.no-pad {
    margin-top: -7px;
    margin-bottom: -7px;
}

.chrome-glyph-hack {
    position: relative;
    top: -.5px;
}

.user-profile-container {
    padding: 0px !important;
    margin-left: 5px;
    margin-top: 5px;
    display: inline-block !important;
}

.user-profile-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.btn-register {
    margin-top: 10px;
}
