.vertical-center {
    padding-top: 50%
}

.header-parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.glyphicon-pencil:hover {
    color: #7c7c7c;
}

.glyphicon-remove:hover {
    color: #7c7c7c;
}

.blog-list {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}
