<div class="margin-top col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <h1 class="panel-title col-md-10">
          <a [routerLink]="['/problems/' + problem.shortName + '/info.pdf']"
              target="_blank">
            {{ problem.name }}
          </a>
          <span *ngIf="userData.isAdmin">– <a class="muted-link" [routerLink]="['/problems/' + problem.pid + '/edit']">Edit</a></span>
        </h1>

        <!-- Show the button for submission if the user is not an admin -->
        <div class="col-md-2">
          <a [routerLink]="['/judge?problem=' + problem.pid]">
            <button class="btn btn-success no-pad" style="width:100%;">Submit</button>
          </a>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <!-- Problem Description -->
      <div>
        <p class="problemBody" markdown="problem.description"></p>
      </div>

      <!-- Input description -->
      <h2 class="underlineHeader">Input</h2>
      <p *ngIf="problem.input_desc" class="problemBody" Markdown>{{problem.input_desc}}</p>

      <!-- Output description -->
      <h2 class="underlineHeader">Output</h2>
      <p class="problemBody" Markdown>{{problem.output_desc}}</p>

      <!-- Sample Input || Sample Output -->
      <div *ngFor="let case of problem.sample_cases; let i = index" class="clearfix">
        <h2 class="underlineHeader">Sample Case {{ i + 1 }}</h2>
        <div class="pull-left" style="width:48%;">
          <pre>{{ case.input }}</pre>
        </div>
        <div class="pull-right" style="width:48%">
          <pre>{{ case.output }}</pre>
        </div>
      </div>

    </div>
    <div class="panel-footer"
      *ngIf="problem.appeared">From: {{ problem.appeared }}</div>
  </div>
</div>
