.profile-page-picture {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 15px;
}

.vcenter {
    display: flex;
    justify-content: center;
}

.vcenter-inner {
    align-self: center;
}
